<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alabroormobile">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_alabroor"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_alabroor_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.WaktuShalatActivity" />
        <activity android:name=".activity.InfoActivity" />
        <activity android:name=".activity.ProfileActivity" />
        <activity android:name=".activity.ArahKiblatActivity" />
        <activity android:name=".activity.AcaraActivity" />
        <activity android:name=".AdminTambahRamadhan" />
        <activity android:name=".AdminTambahPengajian" />
        <activity android:name=".activity.StatistikActivity" />
        <activity android:name=".AdminTambahPetugas" />
        <activity android:name=".AdminTambahPengguna" />
        <activity android:name=".JadwalRamadhan" />
        <activity android:name=".JadwalPengajian" />
        <activity android:name=".activity.JadwalPetugasActivity" />
        <activity android:name=".activity.StrukturDkmActivity" />
        <activity android:name=".SplashscreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:label="@string/title_activity_main2" />
            </intent-filter>
        </activity>
    </application>

</manifest>